---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"normalize";


@import url(http://fonts.googleapis.com/css?family=Yeseva+One|Merriweather+Sans:300);


$salmon: #ee6557;
$dark: #333333;
$light: #fdfdfd;
$root: #A2B627;
$tribute: #F7D043;
$bg: #F2D653;
$text: #37424A;

$heading: 'Yeseva One', Georgia, serif;
$type: 'Merriweather Sans', Helvetica, sans-serif;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {height: 100%;}

body {
	height: 100%;
	background: $bg;
	color: $text;
	font-family: $type;
	font-size: 18px;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

article {
	max-width: 100%;
}

.container {
	
	width: 640px;
	max-width: 100%;
}

h1 {
	font-family: $heading;
	font-size: 2.5em;
	text-transform: lowercase;
	text-align: center;
}

p {
	padding: 10px;
	line-height: 1.5em;
}

a {
	color: $text;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.5em;
	li {
		display: inline-block;
		margin: 0 0.5em;
	}
}

footer {
	max-width: 94%;
	position: absolute;
	align-items: center;
  -webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	bottom: 0.5em;
	p {
		font-size: 0.75em;
		text-align: center;
	}
}

@media all and (max-width:460px) { 
	body {
		font-size: 16px;
	}
}