body {
	background: $light;	
	font-family: $body-type;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading-type;
	text-transform: uppercase;
	color: $salmon;
}

a {
	color: $salmon;
	&:visited {
		color: lighten($dark, 50%);
	}
}

nav {
	background-color: $dark;
	background-image: url('/img/footer_lodyas.png');
  color: $light;
  text-align: center;
  text-transform: uppercase;
	a {
		display: block;
		font-family: $heading-type;
		color: $salmon;
		text-decoration: none;
		&:visited {
			color: $salmon;
		}	
	}
}

.site-title {
	font-size: 3.5em;
	line-height: 1em;
}

.page-link {
	width: 100px;
	margin: 0 auto;
	color: $light;
	&:visited {
		color: $light;
	}
	&:hover {
		color: $salmon;
	}
	&:last-child {
		border: none;
	}
	border-bottom: 1px solid $light;
	padding: 1em 0;
}