$nav-width: 320px;

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: $nav-width;
    height: 100%;
    @include pad(1em);
}

.page-content {
	margin-right: $nav-width;
}

.container {
	@include outer-container;
	@include pad(2em);
	margin-top: 1em;
}

.post-header {
	text-align: center;
}

article.post-content {
	@include shift(3);
	@include span-columns(6);
}